.detail{
    padding-top: 100rem;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50rem;
    width: 100%;
    margin: 0 auto;}
  
  /*タブのスタイル*/
.tab_item {
    width: calc(100%/3);
    height: 50rem;
    border-bottom: 3rem solid #5ab4bd;
    /* border-bottom: 3rem solid #BFBFBF; */
    background-color: #d9d9d9;
    /* background-color: #f5f5f5; */
    line-height: 50rem;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}
  
  /*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}
  
/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    clear: both;
    overflow: hidden;
    padding: 50rem 0;
}
  
  
/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#photo:checked ~ #photo_content,
#review:checked ~ #review_content {
    display: block;
}
  
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
}

.rate {
    position: relative;
    display: inline-block;
    width: 150rem;
    height: 30rem; 
    font-size: 30rem;
}

.rate::before,
.rate::after {
    position: absolute;
    display: inline-block;
    height: 30rem;
    content: "★★★★★";
    line-height: 30rem;
}
.rate::before {
    color: #c4c4c4;
}
.rate::after {
    overflow: hidden;
    width: calc(var(--score) * 30rem);
    color: #ffb906;
}
.rate-wrap {
    display: flex;
    width: 330rem;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    border: 1.5rem solid #e8d8b0;
    margin: 20rem auto 0;
    font-weight: bold;
    }

.shop{
    padding-top: 100rem;
}

.shopMain{
    width: 100%;
}

.shop__name{
    font-size: 24rem;
}

.shopMain__left{
    width: 80rem;
    border: 2px solid #565656;
    padding: 5rem;
}

.shop__save{
    width: 15rem;
}

/* .shop__save--btn{
    font-size: 16rem;
} */

.shopInfo{
    margin-top: 20rem;
}